*{
    outline: none !important;
}

.highlight {
    position: relative;
}

.highlight pre {
    padding-right: 10px;
    background-color:#f8f8f8 !important;
}

.highlight td:first-child {
    user-select: none;
}