*{
    outline: none !important;
}

.highlight {
    position: relative;
}

.highlight pre {
    padding-right: 75px;
    background-color:#f8f8f8 !important;
}

.highlight .ln {
    width: 20px;
    display: block;
    float: left;
    text-align: right;
    user-select: none;
    padding-right: 8px;
    color: #ccc;
}